<h2>Sign up</h2>
<div class="col-sm-6">
<%= form_for @user, url: registration_path(resource_name), html: {class: 'form-horizontal'} do |f| %>
  <%#= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :middle_name, class: "control-label" %>
    <%= f.text_field :middle_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "control-label" %>
    <%= f.text_field :last_name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: "control-label" %>
    <%= f.text_field :phone, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <% if @minimum_password_length %>    <br />
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, class: "form-control", autocomplete: "off", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :domain, class: "control-label" %>
    <%= f.text_field :domain, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-primary" %> 
  </div>

<% end %>

  <div class="form-group">
      <%= render "devise/shared/links" %>
  </div>
</div>