<h2>Forgot your password?</h2>
<div class="col-sm-6">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
  	<%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="form-group">
  	<%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="form-group">
		<%= render "devise/shared/links" %>
</div>
</div>
